// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace EnvironmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Environment definitions, versions, and compiled bundles
 */
export class EnvironmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnvironmentsClient.Options>;

    constructor(options: EnvironmentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.listEnvironments()
     */
    public listEnvironments(
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.ListEnvironmentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEnvironments(requestOptions));
    }

    private async __listEnvironments(
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.ListEnvironmentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/environments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.ListEnvironmentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/environments");
    }

    /**
     * @param {ChronicleLabsApi.CreateEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.createEnvironment({
     *         slug: "support-sandbox",
     *         label: "Support sandbox",
     *         description: "Isolated environment for support-agent backtests."
     *     })
     */
    public createEnvironment(
        request: ChronicleLabsApi.CreateEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EnvironmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEnvironment(request, requestOptions));
    }

    private async __createEnvironment(
        request: ChronicleLabsApi.CreateEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EnvironmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/environments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EnvironmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/environments");
    }

    /**
     * @param {ChronicleLabsApi.GetEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.getEnvironment({
     *         environment_id: "environment_id"
     *     })
     */
    public getEnvironment(
        request: ChronicleLabsApi.GetEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EnvironmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEnvironment(request, requestOptions));
    }

    private async __getEnvironment(
        request: ChronicleLabsApi.GetEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EnvironmentResponse>> {
        const { environment_id: environmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/environments/${core.url.encodePathParam(environmentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EnvironmentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/environments/{environment_id}",
        );
    }

    /**
     * @param {ChronicleLabsApi.ListEnvironmentVersionsRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.listEnvironmentVersions({
     *         environment_id: "environment_id"
     *     })
     */
    public listEnvironmentVersions(
        request: ChronicleLabsApi.ListEnvironmentVersionsRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EnvironmentVersionRecord[]> {
        return core.HttpResponsePromise.fromPromise(this.__listEnvironmentVersions(request, requestOptions));
    }

    private async __listEnvironmentVersions(
        request: ChronicleLabsApi.ListEnvironmentVersionsRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EnvironmentVersionRecord[]>> {
        const { environment_id: environmentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/environments/${core.url.encodePathParam(environmentId)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.EnvironmentVersionRecord[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/environments/{environment_id}/versions",
        );
    }

    /**
     * @param {ChronicleLabsApi.CreateEnvironmentVersionRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.createEnvironmentVersion({
     *         environment_id: "environment_id",
     *         version: "version"
     *     })
     */
    public createEnvironmentVersion(
        request: ChronicleLabsApi.CreateEnvironmentVersionRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EnvironmentVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEnvironmentVersion(request, requestOptions));
    }

    private async __createEnvironmentVersion(
        request: ChronicleLabsApi.CreateEnvironmentVersionRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EnvironmentVersionResponse>> {
        const { environment_id: environmentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/environments/${core.url.encodePathParam(environmentId)}/versions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.EnvironmentVersionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/environments/{environment_id}/versions",
        );
    }

    /**
     * @param {ChronicleLabsApi.GetEnvironmentVersionRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.getEnvironmentVersion({
     *         environment_id: "environment_id",
     *         version_selector: "version_selector"
     *     })
     */
    public getEnvironmentVersion(
        request: ChronicleLabsApi.GetEnvironmentVersionRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EnvironmentVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEnvironmentVersion(request, requestOptions));
    }

    private async __getEnvironmentVersion(
        request: ChronicleLabsApi.GetEnvironmentVersionRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EnvironmentVersionResponse>> {
        const { environment_id: environmentId, version_selector: versionSelector } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/environments/${core.url.encodePathParam(environmentId)}/versions/${core.url.encodePathParam(versionSelector)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.EnvironmentVersionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/environments/{environment_id}/versions/{version_selector}",
        );
    }

    /**
     * @param {ChronicleLabsApi.CompileEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.environments.compileEnvironmentVersion({
     *         environment_id: "environment_id",
     *         version_selector: "version_selector",
     *         datasetSnapshotId: "datasetSnapshotId",
     *         scenarioId: "scenarioId"
     *     })
     */
    public compileEnvironmentVersion(
        request: ChronicleLabsApi.CompileEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.CompileEnvironmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__compileEnvironmentVersion(request, requestOptions));
    }

    private async __compileEnvironmentVersion(
        request: ChronicleLabsApi.CompileEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.CompileEnvironmentResponse>> {
        const { environment_id: environmentId, version_selector: versionSelector, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/environments/${core.url.encodePathParam(environmentId)}/versions/${core.url.encodePathParam(versionSelector)}/compile`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.CompileEnvironmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/environments/{environment_id}/versions/{version_selector}/compile",
        );
    }
}
