// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace TimelineClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Entity timelines
 */
export class TimelineClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimelineClient.Options>;

    constructor(options: TimelineClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Requires scope events:read or events:write. Cursor paginated, newest first.
     *
     * Pass `cursor` from `next_cursor` to read the following page, and stop when `has_more` is false. The cursor is opaque: it is a keyset over `(event_time, event_id)`, it is exclusive so a row cannot repeat across pages, and its encoding may change without notice. Do not parse or construct one.
     *
     * `include_linked=true` selects a different read that also returns causally linked events. That read is not paginated: it returns one page with `has_more` false, and it cannot be combined with `limit` or `cursor`. `since` is only available on that read, because the paginated read has no time filter.
     *
     * @param {ChronicleLabsApi.GetTimelineRequest} request
     * @param {TimelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.timeline.getTimeline({
     *         entity_type: "entity_type",
     *         entity_id: "entity_id"
     *     })
     */
    public getTimeline(
        request: ChronicleLabsApi.GetTimelineRequest,
        requestOptions?: TimelineClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EventPage> {
        return core.HttpResponsePromise.fromPromise(this.__getTimeline(request, requestOptions));
    }

    private async __getTimeline(
        request: ChronicleLabsApi.GetTimelineRequest,
        requestOptions?: TimelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EventPage>> {
        const {
            entity_type: entityType,
            entity_id: entityId,
            limit,
            cursor,
            since,
            include_linked: includeLinked,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            since,
            include_linked: includeLinked,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/timeline/${core.url.encodePathParam(entityType)}/${core.url.encodePathParam(entityId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EventPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/timeline/{entity_type}/{entity_id}",
        );
    }
}
