// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace SearchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Semantic search
 */
export class SearchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchClient.Options>;

    constructor(options: SearchClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Requires scope events:read or events:write. The page size is capped at 200 and a cursor can advance through at most 1,000 relevance-ranked results. Each request consumes 5 rate-limit units.
     *
     * @param {ChronicleLabsApi.SearchRequest} request
     * @param {SearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.ContentTooLargeError}
     * @throws {@link ChronicleLabsApi.UnsupportedMediaTypeError}
     * @throws {@link ChronicleLabsApi.UnprocessableEntityError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.search.events({
     *         query: "query"
     *     })
     */
    public events(
        request: ChronicleLabsApi.SearchRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EventListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__events(request, requestOptions));
    }

    private async __events(
        request: ChronicleLabsApi.SearchRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EventListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EventListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new ChronicleLabsApi.ContentTooLargeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 415:
                    throw new ChronicleLabsApi.UnsupportedMediaTypeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new ChronicleLabsApi.UnprocessableEntityError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/search");
    }
}
