// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace DiscoverClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Source, entity, and schema discovery
 */
export class DiscoverClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DiscoverClient.Options>;

    constructor(options: DiscoverClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Requires scope events:read or events:write. Returns the complete source metadata set without pagination.
     *
     * @param {DiscoverClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.discover.listSources()
     */
    public listSources(
        requestOptions?: DiscoverClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.SourceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSources(requestOptions));
    }

    private async __listSources(
        requestOptions?: DiscoverClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.SourceListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/discover/sources",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.SourceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/discover/sources");
    }

    /**
     * Requires scope events:read or events:write. Returns the complete entity-type metadata set without pagination.
     *
     * @param {DiscoverClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.discover.listEntityTypes()
     */
    public listEntityTypes(
        requestOptions?: DiscoverClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EntityTypeListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEntityTypes(requestOptions));
    }

    private async __listEntityTypes(
        requestOptions?: DiscoverClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EntityTypeListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/discover/entity-types",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.EntityTypeListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/discover/entity-types");
    }

    /**
     * Requires scope events:read or events:write. Entities are ordered by event count and entity ID. The limit is capped at 200; pass `next_cursor` as `cursor`.
     *
     * @param {ChronicleLabsApi.ListEntitiesRequest} request
     * @param {DiscoverClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.discover.listEntities({
     *         entity_type: "entity_type"
     *     })
     */
    public listEntities(
        request: ChronicleLabsApi.ListEntitiesRequest,
        requestOptions?: DiscoverClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EntityListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEntities(request, requestOptions));
    }

    private async __listEntities(
        request: ChronicleLabsApi.ListEntitiesRequest,
        requestOptions?: DiscoverClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EntityListResponse>> {
        const { entity_type: entityType, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/discover/entities/${core.url.encodePathParam(entityType)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EntityListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/discover/entities/{entity_type}",
        );
    }

    /**
     * Requires scope events:read or events:write.
     *
     * @param {ChronicleLabsApi.GetEventSchemaRequest} request
     * @param {DiscoverClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.discover.getEventSchema({
     *         source: "source",
     *         event_type: "event_type"
     *     })
     */
    public getEventSchema(
        request: ChronicleLabsApi.GetEventSchemaRequest,
        requestOptions?: DiscoverClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.SourceSchema> {
        return core.HttpResponsePromise.fromPromise(this.__getEventSchema(request, requestOptions));
    }

    private async __getEventSchema(
        request: ChronicleLabsApi.GetEventSchemaRequest,
        requestOptions?: DiscoverClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.SourceSchema>> {
        const { source, event_type: eventType } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/discover/schema/${core.url.encodePathParam(source)}/${core.url.encodePathParam(eventType)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.SourceSchema, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/discover/schema/{source}/{event_type}",
        );
    }
}
