// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Event ingestion and querying
 */
export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;

    constructor(options: EventsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Requires scope events:read or events:write. Results are scoped to the tenant of the API key and ordered newest first by event time and event ID. Pass the opaque `next_cursor` as `cursor` to continue without an offset scan.
     *
     * @param {ChronicleLabsApi.QueryEventsRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.events.queryEvents()
     */
    public queryEvents(
        request: ChronicleLabsApi.QueryEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.EventListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryEvents(request, requestOptions));
    }

    private async __queryEvents(
        request: ChronicleLabsApi.QueryEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.EventListResponse>> {
        const {
            source,
            topic,
            event_type: eventType,
            entity_type: entityType,
            entity_id: entityId,
            limit,
            cursor,
            since,
        } = request;
        const _queryParams: Record<string, unknown> = {
            source,
            topic,
            event_type: eventType,
            entity_type: entityType,
            entity_id: entityId,
            limit,
            cursor,
            since,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/events",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.EventListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/events");
    }

    /**
     * Requires scope events:write.
     *
     * @param {ChronicleLabsApi.IngestRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.ContentTooLargeError}
     * @throws {@link ChronicleLabsApi.UnsupportedMediaTypeError}
     * @throws {@link ChronicleLabsApi.UnprocessableEntityError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.events.ingestEvent({
     *         source: "my-agent",
     *         topic: "conversations",
     *         event_type: "message.sent"
     *     })
     */
    public ingestEvent(
        request: ChronicleLabsApi.IngestRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.IngestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ingestEvent(request, requestOptions));
    }

    private async __ingestEvent(
        request: ChronicleLabsApi.IngestRequest,
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.IngestResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/events",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.IngestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new ChronicleLabsApi.ContentTooLargeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 415:
                    throw new ChronicleLabsApi.UnsupportedMediaTypeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new ChronicleLabsApi.UnprocessableEntityError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/events");
    }

    /**
     * Requires scope events:write. Maximum 1000 events per batch; larger batches are rejected with 422. Request bodies over the size limit are rejected with 413. Each request consumes 10 rate-limit units.
     *
     * @param {ChronicleLabsApi.IngestRequest[]} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.ContentTooLargeError}
     * @throws {@link ChronicleLabsApi.UnsupportedMediaTypeError}
     * @throws {@link ChronicleLabsApi.UnprocessableEntityError}
     * @throws {@link ChronicleLabsApi.TooManyRequestsError}
     * @throws {@link ChronicleLabsApi.InternalServerError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link ChronicleLabsApi.GatewayTimeoutError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.events.ingestEventBatch([{
     *             source: "my-agent",
     *             topic: "conversations",
     *             event_type: "message.sent"
     *         }])
     */
    public ingestEventBatch(
        request: ChronicleLabsApi.IngestRequest[],
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.IngestResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ingestEventBatch(request, requestOptions));
    }

    private async __ingestEventBatch(
        request: ChronicleLabsApi.IngestRequest[],
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.IngestResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/events/batch",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ChronicleLabsApi.IngestResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new ChronicleLabsApi.ContentTooLargeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 415:
                    throw new ChronicleLabsApi.UnsupportedMediaTypeError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new ChronicleLabsApi.UnprocessableEntityError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/events/batch");
    }

    /**
     * Requires scope events:read or events:write. A Server-Sent Events stream of events matching the optional filters, held open indefinitely.
     *
     * Opening a stream consumes 5 rate-limit units.
     *
     * Each message has `event: event` and a `data` field carrying one EventResult as JSON. A comment line arrives every 15 seconds so intermediaries do not close an idle connection.
     *
     * Every message carries an opaque, stream-specific `id` backed by a monotonic per-tenant delivery sequence. It records ingestion order, independently of the source event's `event_time`. Record the last id you processed and do not parse or construct it.
     *
     * When `Last-Event-ID` is present, the server first establishes the live subscription, replays matching stored events strictly after that position in ascending order, and then continues with live delivery. Events committed at the history-to-live boundary may be delivered more than once, so consumers should deduplicate by `event_id`. This provides at-least-once delivery across a reconnect without leaving a gap.
     *
     * Replay is limited to 1000 matching events. An older position returns 409 before the stream opens. Slow consumers are disconnected when the bounded live buffer fills and should reconnect with their last processed id. Concurrent streams are limited per tenant and may return 429 with `Retry-After`.
     */
    public streamEvents(
        request: ChronicleLabsApi.StreamEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<ChronicleLabsApi.EventResult>> {
        return core.HttpResponsePromise.fromPromise(this.__streamEvents(request, requestOptions));
    }

    private async __streamEvents(
        request: ChronicleLabsApi.StreamEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<ChronicleLabsApi.EventResult>>> {
        const {
            source,
            event_type: eventType,
            entity_type: entityType,
            entity_id: entityId,
            "Last-Event-ID": lastEventId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            source,
            event_type: eventType,
            entity_type: entityType,
            entity_id: entityId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Last-Event-ID": lastEventId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/events/stream",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ChronicleLabsApi.ConflictError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new ChronicleLabsApi.TooManyRequestsError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ChronicleLabsApi.InternalServerError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 504:
                    throw new ChronicleLabsApi.GatewayTimeoutError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/events/stream");
    }
}
