// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ChronicleLabsApi from "../../../index.js";

export declare namespace BacktestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Long-running backtest jobs, trials, evidence, and progress streams
 */
export class BacktestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BacktestsClient.Options>;

    constructor(options: BacktestsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.getBacktestsAvailability()
     */
    public getBacktestsAvailability(
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.BacktestsAvailability> {
        return core.HttpResponsePromise.fromPromise(this.__getBacktestsAvailability(requestOptions));
    }

    private async __getBacktestsAvailability(
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.BacktestsAvailability>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/backtests/availability",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.BacktestsAvailability,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/backtests/availability");
    }

    /**
     * @param {ChronicleLabsApi.ListBacktestJobsRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.listBacktestJobs()
     */
    public listBacktestJobs(
        request: ChronicleLabsApi.ListBacktestJobsRequest = {},
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.ListBacktestJobsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBacktestJobs(request, requestOptions));
    }

    private async __listBacktestJobs(
        request: ChronicleLabsApi.ListBacktestJobsRequest = {},
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.ListBacktestJobsResponse>> {
        const { mode, status, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            mode,
            status,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/backtests/jobs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.ListBacktestJobsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/backtests/jobs");
    }

    /**
     * Returns 202 after the durable job and its trials have been admitted.
     *
     * @param {ChronicleLabsApi.CreateBacktestJobRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.ConflictError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.createBacktestJob({
     *         name: "name",
     *         recipe: {
     *             agents: [{
     *                     hue: "hue",
     *                     id: "id",
     *                     label: "label",
     *                     notes: "notes"
     *                 }],
     *             data: {
     *                 kind: "composed",
     *                 scenarios: [{
     *                         count: 1,
     *                         id: "id",
     *                         kind: "adversarial",
     *                         label: "label"
     *                     }],
     *                 sources: [{
     *                         count: 1,
     *                         id: "id",
     *                         kind: "prod",
     *                         label: "label"
     *                     }]
     *             },
     *             graders: [{
     *                     id: "id",
     *                     kind: "rubric",
     *                     label: "label",
     *                     source: "proposed",
     *                     weight: "low"
     *                 }],
     *             mode: "replay",
     *             name: "name"
     *         }
     *     })
     */
    public createBacktestJob(
        request: ChronicleLabsApi.CreateBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.CreateBacktestJobResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBacktestJob(request, requestOptions));
    }

    private async __createBacktestJob(
        request: ChronicleLabsApi.CreateBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.CreateBacktestJobResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                "v1/backtests/jobs",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.CreateBacktestJobResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new ChronicleLabsApi.ConflictError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/backtests/jobs");
    }

    /**
     * @param {ChronicleLabsApi.GetBacktestJobRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.getBacktestJob({
     *         job_id: "job_id"
     *     })
     */
    public getBacktestJob(
        request: ChronicleLabsApi.GetBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.BacktestJobDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBacktestJob(request, requestOptions));
    }

    private async __getBacktestJob(
        request: ChronicleLabsApi.GetBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.BacktestJobDetailResponse>> {
        const { job_id: jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/backtests/jobs/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.BacktestJobDetailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/backtests/jobs/{job_id}");
    }

    /**
     * @param {ChronicleLabsApi.ListBacktestJobTrialsRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.BadRequestError}
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.listBacktestJobTrials({
     *         job_id: "job_id"
     *     })
     */
    public listBacktestJobTrials(
        request: ChronicleLabsApi.ListBacktestJobTrialsRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.ListBacktestJobTrialsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBacktestJobTrials(request, requestOptions));
    }

    private async __listBacktestJobTrials(
        request: ChronicleLabsApi.ListBacktestJobTrialsRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.ListBacktestJobTrialsResponse>> {
        const { job_id: jobId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/backtests/jobs/${core.url.encodePathParam(jobId)}/trials`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.ListBacktestJobTrialsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ChronicleLabsApi.BadRequestError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/backtests/jobs/{job_id}/trials",
        );
    }

    /**
     * @param {ChronicleLabsApi.GetBacktestTrialRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.getBacktestTrial({
     *         job_id: "job_id",
     *         trial_id: "trial_id"
     *     })
     */
    public getBacktestTrial(
        request: ChronicleLabsApi.GetBacktestTrialRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.BacktestTrialDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBacktestTrial(request, requestOptions));
    }

    private async __getBacktestTrial(
        request: ChronicleLabsApi.GetBacktestTrialRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.BacktestTrialDetailResponse>> {
        const { job_id: jobId, trial_id: trialId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/backtests/jobs/${core.url.encodePathParam(jobId)}/trials/${core.url.encodePathParam(trialId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.BacktestTrialDetailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/backtests/jobs/{job_id}/trials/{trial_id}",
        );
    }

    /**
     * @param {ChronicleLabsApi.CancelBacktestJobRequest} request
     * @param {BacktestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ChronicleLabsApi.UnauthorizedError}
     * @throws {@link ChronicleLabsApi.NotFoundError}
     * @throws {@link ChronicleLabsApi.ServiceUnavailableError}
     * @throws {@link errors.ChronicleLabsApiError}
     * @throws {@link errors.ChronicleLabsApiTimeoutError}
     *
     * @example
     *     await client.backtests.cancelBacktestJob({
     *         job_id: "job_id"
     *     })
     */
    public cancelBacktestJob(
        request: ChronicleLabsApi.CancelBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<ChronicleLabsApi.CancelBacktestJobResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelBacktestJob(request, requestOptions));
    }

    private async __cancelBacktestJob(
        request: ChronicleLabsApi.CancelBacktestJobRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ChronicleLabsApi.CancelBacktestJobResponse>> {
        const { job_id: jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/backtests/jobs/${core.url.encodePathParam(jobId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ChronicleLabsApi.CancelBacktestJobResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/backtests/jobs/{job_id}/cancel",
        );
    }

    public streamBacktestJobEvents(
        request: ChronicleLabsApi.StreamBacktestJobEventsRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<ChronicleLabsApi.TrialEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__streamBacktestJobEvents(request, requestOptions));
    }

    private async __streamBacktestJobEvents(
        request: ChronicleLabsApi.StreamBacktestJobEventsRequest,
        requestOptions?: BacktestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<ChronicleLabsApi.TrialEvent>>> {
        const { job_id: jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ChronicleLabsApiEnvironment.Production,
                `v1/backtests/jobs/${core.url.encodePathParam(jobId)}/stream`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ChronicleLabsApi.UnauthorizedError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new ChronicleLabsApi.NotFoundError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 503:
                    throw new ChronicleLabsApi.ServiceUnavailableError(
                        _response.error.body as ChronicleLabsApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ChronicleLabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/backtests/jobs/{job_id}/stream",
        );
    }
}
